// Custom styles for TQC 2026
@use "root";
@use "variables";

@use "partials/base";
@use "partials/header";
@use "partials/main";
@use "partials/footer";
@use "partials/buttons";
@use "partials/socials";
@use "partials/jumbo";
@use "partials/banner";
@use "partials/hero";
@use "partials/table_of_contents";
@use "partials/speakers_shortcode";
@use "partials/tickets";
@use "partials/partners_group";
@use "partials/tags";
@use "partials/icons";
@use "partials/type";
@use "partials/form";
@use "partials/album";
@use "partials/paper";

@use "pages/home";
@use "pages/sessions";
@use "pages/session";
@use "pages/partners";
@use "pages/partner";
@use "pages/schedule";
@use "pages/speakers";
@use "pages/speaker";
@use "pages/blogs";
@use "pages/blog";
@use "pages/kids";
@use "pages/team";
@use "pages/faq";
@use "pages/code_of_conduct";
@use "pages/with_banner";
@use "pages/text_page";
@use "pages/papers";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #74C5DE;
    --primary-txt: #fff;
}  

h1, h2 {
	font-family: "Poppins", serif;
}
.hero {
position: relative;
    .img {
    
        max-width: 100%;
        height: auto;
        width: auto/* Maintains aspect ratio */
    }}